@font-face {
  font-family: "Play";
  src: url("./assets/fonts/play.woff2") format("woff2"),
       url("./assets/fonts/play.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("./assets/fonts/play-bold.woff2") format("woff2"),
       url("./assets/fonts/play-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Play", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%), linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
}


a {
  text-decoration: none;
}

h1,h2,h3,h4,p {
  margin: 0;
}

